<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 blog-list">
    <h3>Current Posts:</h3>
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
    </div>
    {{/each}}
    {{else}}
    <p>You currently don't have any posts.</p>
  {{/if}}
  </div>
  <div class="form-group">
    <a class="btn btn-primary" href="/newPost">Create a new post</a>
  </div>
</div>
