{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="text-center">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>
      {{blog.description}}
    </p>
    <p class="text-right note">Created on {{format_date blog.date_created}}</p>
  </div>
</div>
{{/each}}
