.note {
  font-style: italic;
  font-size: smaller;
}

.comments {
  border: 1px solid black;
  border-radius: 4px;
  margin: 4px;
  vertical-align: middle;
}

header {
  margin: 20px;
} 

.btn-danger {
  padding: 7px
}